* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.pikaqiu-container {
  position: relative;
  margin: 30px auto 30px;
  width: 440px;
  height: 250px;
}

.write {
  flex: 1;
  height: 50%;
  width: 100%;
}

.write > pre {
  overflow: auto;
  height: 100%;
  font-size: 14px;
  color: #3C4145;
}

.write > pre::-webkit-scrollbar {
  width: 5px;
}

.write > pre::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 7px
}

.btns {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  flex-direction: column;
}

.btns button {
  margin: 10px;
  outline: none;
  border: 1px black solid;
  padding: 1px 4px;
  background-color: rgb(255, 150, 65);
  font-weight: 600;
  border-radius: 5px;
}

.btns > button.active {
  transition: all 0.5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.9);
}

.token.selector {
  color: #2F8A42;
}

.token.property {
  color: #3876CE;
}

.token.comment {
  color: #737C85;
}
